# Ignore Python virtual environment
venv/

# Ignore Node.js dependencies
node_modules/

# Ignore common Python files
*.pyc
__pycache__/

# Ignore environment variables
.env

#google client
oauth.txt

#Zepta technologies document
Perfomix_ Performance Management Tool Scope Document Version 1.0.docx